
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../public/css/indexstyle.css"
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class = "container-fluid">

    <!-- header -->
    <section class = "row">
        <div class = "col-md-12" id = "header">
          <header>
            <h1 class = 'text-left'>The TeePot</h1>
          </header>
        </div>
    </section> <!-- end header -->

<!--     row of teeshirts -->
    <section class = "row">
    <div class = 'text-center'>
      <div class = "col-md-4">
          <a href="#">
            <img src="../public/images/tshirt/T0001.jpg" class= "img-responsive">
          </a>
        <h3>This a Shirt Name</h3>
        <h4>$22</h4>
      </div>

      <div class = "col-md-4">
        <a href="#">
          <img src="../public/images/tshirt/T0002.jpg" class= "img-responsive">
        </a>
        <h3>This is Another</h3>
        <h4>$24</h4>
      </div>

      <div class = "col-md-4">
      <a href="#">
        <img src="../public/images/tshirt/T0003.jpg" class= "img-responsive">
      </a>
        <h3>Shirt!</h3>
        <h4>$18</h4>
      </div>
    </div>
    </section>      




  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>