<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/indexstyle.css"
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class = "container-fluid">

    <!-- header -->
    <section class = "row">
        <div class = "col-md-12" id = "header">
          <header>
            <a href="/">
              <h1 class = 'text-left'>Animali</h1>
            </a>
          </header>
        </div>
    </section> <!-- end header -->

        <section class = "row">
            <div class = "col-md-4 col-md-offset-4">
              <div class = "row">
                <div class= "col-md-12">
                <h3>Thanks!</h3>
                </div>
              </div>
              <div class= "row">
                <div class= "col-md-12">
                  <p>Thank you for your order. Your items will arrive in the mail 2-3 in business days.</p>
                  <p>Your confirmation number is: <span id = "confirm_num"> Confirmation number Here</span></p>
                </div>
              </div>
            </div>
        </section>
</div>









  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
